{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Tienda{% endblock %}

{% block content %}
	<div class="untree_co-section">
		<div class="container">
			<div class="row justify-content-center">
			
			
				<div class="col-md-6 mb-5 mb-md-0">
					<h2 class="h3 mb-3 text-black">Inicio de Sesión</h2>
					<div class="p-3 p-lg-5 border bg-white">
						<form method="POST">
							{% csrf_token %}
							<div class="form-group row mb-5">
								<div class="col-md-12">
									<label for="c_email_address" class="text-black">Nombre de usuario<span class="text-danger">*</span></label>
									<input type="text" class="form-control" id="username" name="username">
								</div>
							</div>

							<div class="form-group row mb-5">
								<div class="col-md-12">
								<label for="password" class="text-black">Contraseña<span class="text-danger">*</span></label>
								<input type="password" class="form-control" id="password" name="password">
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-black btn-lg py-3 col-md-12">Iniciar Sesión</button>
								
							</div>
							{% if error %}
								<p class="login-error" style="color:red;">{{ error }}</p>
							{% endif %}
							<label style="margin-top: 10px;" class="text-black">¿No tienes una cuenta? Has una <a href="{% url 'signup' %}">aquí</a></label>
						</form>
					</div>
				</div>
			<!-- </form> -->
		</div>
		</div>

	<div style="margin-bottom: 100px;"></div>
{% endblock %}
