
{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Tienda{% endblock %}

{% block content %}
	<style>
		.searchbtn{
			
			border: none;
		}

		.searchin{
			margin-top: 20px;
			margin-left: 5%;
			width: 20%;
			border: none;
			color: green;
			border-bottom: 2px solid green;
			background-color: transparent;
			font-size: 20px;
			outline: none;
  			transition: all 0.3s ease-in-out;
		}

		.searchin:focus{
			width: 80%;
			box-shadow: 0 3px 0 green;
		}
		svg{
			width: 30px;
			fill: green;
		}
	</style>
  
		<form method="GET" action="{% url 'shop' %}">
			<input class="searchin" type="text" name="q" placeholder="Buscar producto..." value="{{ query }}">
			<button class="searchbtn" type="submit"></button>
			<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m15.97 17.031c-1.479 1.238-3.384 1.985-5.461 1.985-4.697 0-8.509-3.812-8.509-8.508s3.812-8.508 8.509-8.508c4.695 0 8.508 3.812 8.508 8.508 0 2.078-.747 3.984-1.985 5.461l4.749 4.75c.146.146.219.338.219.531 0 .587-.537.75-.75.75-.192 0-.384-.073-.531-.22zm-5.461-13.53c-3.868 0-7.007 3.14-7.007 7.007s3.139 7.007 7.007 7.007c3.866 0 7.007-3.14 7.007-7.007s-3.141-7.007-7.007-7.007z" fill-rule="nonzero"/></svg>
		</form>


		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">
					{% for producto in productos %}
						<div class="col-12 col-md-4 col-lg-3 mb-5">
							<a class="product-item">
								<img src="{{ producto.url_imagen }}" class="img-fluid product-thumbnail">
								<h3 class="product-title">{{ producto.nombre }}</h3>
								<strong class="product-price">${{ producto.precio }}</strong>
								
								{% if producto.stock > 1 %}
									<p>{{ producto.stock }} disponibles</p>
								{% else %}
									<p style="color: red;">Sólo uno disponible</p>
								{% endif %}	
								<span onclick="agregarAlCarrito('{{ producto.id }}','{{ producto.nombre }}', '{{ producto.url_imagen }}', '{{ producto.precio }}', '{{ producto.marca }}', '{{ producto.stock }}')" class="icon-cross">
									<img src="{% static 'shop/images/cross.svg' %}" class="img-fluid">
								</span>
							</a>
						</div>
					{% empty %}
						<p>No se encontraron productos.</p>
					{% endfor %}
		      	</div>
		    </div>
		</div>
	<script src="{% static 'shop/js/shop.js' %}"></script>
{% endblock %}
